.searchWrapper {
  display: flex;
  align-items: center;
  justify-items: start;
  gap: 12px;
  width: 100%;
  height: 40px;
  background: var(--bg-elevated);
  border-radius: 50px;
  padding-left: 1rem;
  transition: all 0.2s ease;
}

.searchIcon {
  pointer-events: none;
}

.searchWrapper input {
  width: 100%;
  background: transparent;
  border: none;
  outline: none;

  font-size: 0.95rem;
  color: var(--text-primary);
}